html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  overflow-x: hidden;
}

@import url('https://fonts.googleapis.com/css?family=Maitree:100,200,300,400,600,700&display=swap&subset=latin-ext,thai');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400&display=swap');
@font-face {
  font-family: "Georgia";
  src: local("Georgia") url(/assets/font/georgia-bold.ttf) format("truetype");
}
@font-face {
  font-family: "Worksans";
  src: local("Worksans") url(/assets/font/WorkSans-Medium.ttf) format("truetype");
}
@font-face {
  font-family: "Confidante";
  src: url(/assets/font/Confidante.ttf) format("truetype");
}
@font-face {
  font-family: "Thaisans";
  src: url(/assets/font/thaisanslite_r1.ttf) format("truetype");
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

/* nav */
.nav-row{
  height: 110px;
  border: 1px #bcbcbc solid;
  border-left: 0;
  border-right: 0;
}
.nav-row.n2{
  margin-top: -1px;
  height: 45px;
}
.nav-box{
  text-align: center;
  text-align: -webkit-center;
}
.nav-box.n1{
  border-right: 1px #bcbcbc solid;
}
.nav-box.n1 .ant-image{
  margin-bottom: -100px;
}
.nav-box.n1 img {
  transform: translateY(-22px);
  display: none;
}
.nav-box.n2 {
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.nav-box.n3 {
  border-left: 1px #bcbcbc solid;
  margin-top: -1px;
}
.nav-box.n5 {
  border-left: 1px #bcbcbc solid;
}
.ant-dropdown-menu-item-only-child {
  text-align: center;
}
.nav-social-button {
  height: 80px;
}
.nav-social-button-scroll {
  height: 55px;
}

.res-img{
  
  display: inline;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.navbar-scroll {
  /* display: none; */
  position: fixed;
  /* height: 140px; */
  width: 100%;
  position: fixed;
  top: 0;
  background-color: rgb(253, 253, 253);
  z-index: 1112;
  transform: translateY(-210px);
  transition-duration: .1s;
  text-align: center;
  height: 56px;
  border-bottom: 1px solid #a29b93;
  /* border-top: 1px solid #a29b93; */
}

.navbar-scroll .border-left {
  border-left: 1px solid #a29b93;
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  transition-duration: .3s;
}
.scrolled {
  transform: translateY(0px) !important;
}
.ant-dropdown-menu {
  background-color: #1e315c;
  margin-top: -4px;
}
.ant-card-meta-description {
  font-family: 'Worksans', 'Thaisans';
  color: #353535;
  
  /* position: absolute;
  bottom: 0px;
  margin: auto;
  left: 0;
  right: 0;
  text-align: center; */
}
.ant-card-meta-title {
  white-space: normal;
  font-family: maitree;
  font-weight: bold;
}
.ant-card-body {
  height: 100%;
}
.ant-card{
  display: flex;
  flex-flow: column;
}
.searchBox-icon {
  color: #dac099;
  font-size: 2.5em;
  position: absolute;
  right: 0.8em;
}
.not-active {
  display: none;
}
a:hover {
  color: black;
}
.nav-brown-bgcolor {
  background-color: #dfceaf;
}
.nav-brown-bgcolor img {
  filter: hue-rotate(
    198deg
    ) saturate(106.5) grayscale(0.7);
}
/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .nav-row{
    height: 115px;
  }
  .nav-row.n2{
    height: 54px;
  }
  .navbar-scroll {
    height: 87px;
  }
  .nav-social-button-scroll {
    height: 85px;
  }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  
  .nav-box.n1 img {
    display: block;
  }
  .nav-row{
    height: 130px;
  }
  .nav-row.n2{
    height: 67px;
  }
  .navbar-scroll {
    height: 85px;
    border: 0;
  }
  .nav-social-button {
    height: 80px;
  }
  .search-scroll{
    font-size: 1.3rem;
  }
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}

@media (max-width: 992px) {
  .ant-card-meta-detail > div:not(:last-child) {
    margin-bottom: 2px;
  }
}

.th {
  font-family: 'Maitree', serif;
  font-size: 18px;
}

.ant-card-meta-detail > div:not(:last-child) {
  margin-bottom: 4px;
}

/* Mess */

