name: Deploy to App Engine on merge
'on':
  push:
    branches:
      - main
      - develop

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3

      - name: Use Node.js 20.10.0 # Specify Node.js version if needed
        uses: actions/setup-node@v3
        with:
          node-version: '20.10.0 '
          cache: 'yarn' # This caches node_modules based on your lockfile

      - name: Check Yarn version
        run: yarn --version

      - name: Install Dependencies
        run: yarn

      - name: Write .env file (main)
        if: github.ref == 'refs/heads/main'
        run: |
          echo "${{ secrets.ENV_PROD }}" >> .env
          echo "NEXT_PUBLIC_GIT_COMMIT=${{ github.sha }}" >> .env

      - name: Write .env file (develop)
        if: github.ref == 'refs/heads/develop'
        run: |
          echo "${{ secrets.ENV_DEV }}" >> .env
          echo "NEXT_PUBLIC_GIT_COMMIT=${{ github.sha }}" >> .env

      - name: Build
        env:
          CI: false
        run: yarn build

      - name: Archive Production Artifact
        uses: actions/upload-artifact@v3
        with:
          name: build
          path: build

  deploy:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - uses: actions/checkout@v3

      - name: Download Artifact
        uses: actions/download-artifact@v2
        with:
          name: build
          path: build

      - name: Write Admin Service Account
        env:
          SERVICE_ACCOUNT_JSON: ${{ secrets.ADMIN_SERVICE_ACCOUNT }}
          SERVICE_ACCOUNT_JSON_DEV: ${{ secrets.ADMIN_SERVICE_ACCOUNT_DEV }}
        run: |
          mkdir server
          echo "$SERVICE_ACCOUNT_JSON" >> server/serviceAccountKey.json
          echo "$SERVICE_ACCOUNT_JSON_DEV" >> server/serviceAccountKey-Dev.json

      - name: Disallow Bot (develop)
        if: github.ref == 'refs/heads/develop'
        run: |
          echo "User-agent: *" > public/robots.txt
          echo "Disallow: /" >> public/robots.txt


      - name: Write .env file (main)
        if: github.ref == 'refs/heads/main'
        run: |
          echo "${{ secrets.ENV_PROD }}" >> .env
          echo "NEXT_PUBLIC_GIT_COMMIT=${{ github.sha }}" >> .env

      - name: Write .env file (develop)
        if: github.ref == 'refs/heads/develop'
        run: |
          echo "${{ secrets.ENV_DEV }}" >> .env
          echo "NEXT_PUBLIC_GIT_COMMIT=${{ github.sha }}" >> .env

      - uses: 'google-github-actions/auth@v2'
        if: github.ref == 'refs/heads/main'
        with:
          credentials_json: ${{ secrets.SERVICE_ACCOUNT_PROD }}

      - name: Deploy to App Engine (main)
        if: github.ref == 'refs/heads/main'
        uses: google-github-actions/deploy-appengine@v2
        with:
          deliverables: app.yaml
          project_id: cafeteller-f18b8

      - uses: 'google-github-actions/auth@v2'
        if: github.ref == 'refs/heads/develop'
        with:
          credentials_json: ${{ secrets.SERVICE_ACCOUNT_DEV }}

      - name: Deploy to App Engine (develop)
        if: github.ref == 'refs/heads/develop'
        uses: google-github-actions/deploy-appengine@v2
        with:
          deliverables: app.yaml
          project_id: cafeteller-dev